body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 60px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.search-box button {
    padding: 10px 20px;
    cursor: pointer;
}

.user-result {
    padding: 12px;
    background: #eee;
    margin-top: 12px;
    border-radius: 8px;
}

.add-btn {
    margin-top: 8px;
    padding: 8px 12px;
    cursor: pointer;
}
