body {
    font-family: Arial;
    background: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

#container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

#user-box {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

#userFoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#logout {
    margin-left: auto;
    padding: 7px 15px;
    background: #c22;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 8px;
    border: none;
}

#searchResults div,
#requestsList div,
#friendsList div {
    background: #222;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.section {
    margin-top: 40px;
}
